
body{
    background-image: url('https://pic.imgdb.cn/item/66adfcc8d9c307b7e9a68764.png');
    background-size: cover;
}

.login{
    position:absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    background-color:rgba(245, 245, 245, 0.238);
    border-radius: 25px;
    padding: 5px 40px;
    box-sizing: border-box;
}

p{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

input{
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.305);
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: none;
    border-bottom: 2px solid silver;
    padding-left: 10px;
    outline: none;
    font-size: 22px;

}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    background-color: rgba(244, 62, 174, 0.747);
    width: 34%;
    height: 40px;
    border-radius: 25px;
    border: none;
    border-bottom: 2px solid silver;
    color: azure;
    text-align: center;
    cursor: pointer;
}

.btn2{
    background-color: rgba(244, 62, 174, 0.747);
    width: 34%;
    height: 40px;
    border-radius: 25px;
    border: none;
    border-bottom: 2px solid silver;
    color: azure;
    text-align: center;
    cursor: pointer;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
